extends layout

block content
  h1.title-med.d-none.d-sm-block= title

  // desktop display
  table.table.table-striped.d-none.d-sm-block
    thead.thead.thead-med
      tr
        th.table-head
        th.table-head Product
        th.table-head Supplier
        th.table-head Price
        th.table-head Stock
  
    tbody.tbody-med
      each item in item_list
        tr.item-row
          td.table-item
            div.med-table-img-container
              img.item-list-img(class="d-none d-sm-block" src=item.image===undefined ? 'https://res.cloudinary.com/eletourneau/image/upload/v1659309161/no-image-icon-0_d0lkqz.jpg' : decodeURIComponent(item.image).replace(/&#x2F;/gi,'/'))
          td.table-item
            a(href=item.url) #{item.name}
          td.table-item
            p #{item.supplier.name}
          td.table-item
            p $#{item.price}
          td.stock-td.table-item
            p #{item.stock}

      else
        li There are no items.

  // mobile display
  table.table.table-striped.d-block.d-sm-none
    thead.thead.thead-sm
      tr
        th.table-head.table-head-sm.table-head-sm-1.bold Product
        th.table-head.table-head-sm.bold Supplier
        th.table-head.table-head-sm.bold Price
        th.table-head.table-head-sm.bold Stock

    tbody.tbody-sm
      each item in item_list
        tr.item-row-sm
          td.table-item.table-item-sm
            a(href=item.url) #{item.name}
          td.table-item.table-item-sm
            p #{item.supplier.name}
          td.table-item.table-item-sm
            p #{item.price}
          td.stock-td.table-item.table-item-sm
            p #{item.stock}

      else
        li There are no items.


