extends layout

block content

  h1.title-med.d-none.d-sm-block Supplier: #{supplier.name}

  div.supplier-details
    p #[strong Name: ] #{supplier.name} 
    p #[strong Contact: ] #{supplier.phone} 

  div.d-none.d-sm-block(style='margin-left:20px;margin-top:20px')

    table.table.table-striped.d-none.d-sm-block
      thead.thead.thead-med
        tr
            th.table-head
            th.table-head Product
            th.table-head Description
            th.table-head Price
            th.table-head Stock

      tbody.tbody-med.category-tbody-med.tbody-category-details.tbody-supplier-details
        each item in supplier_items
          tr.item-row
            td.table-item
              img.item-list-img(class="d-none d-sm-block" src=item.image===undefined ? 'https://res.cloudinary.com/eletourneau/image/upload/v1659309161/no-image-icon-0_d0lkqz.jpg' : decodeURIComponent(item.image).replace(/&#x2F;/gi,'/'))
            td.table-item
              a(href=item.url) #{item.name}
            td.table-item
              a #{item.description}
            td.table-item
              p #{item.price}
            td.stock-td.table-item
              p #{item.stock}

        else
          tr.item-row 
            td.table-item
              p This supplier has no items.

  div.d-block.d-sm-none
    
    table.table.table-striped.d-block.d-sm-none
      thead.thead.thead-sm
        tr
            th.table-head.table-head-sm Product
            th.table-head.table-head-sm Description
            th.table-head.table-head-sm Price
            th.table-head.table-head-sm Stock

      tbody.tbody-sm.category-tbody-sm.supplier-tbody-sm
        each item in supplier_items
          tr.item-row-sm
            td.table-item
              a(href=item.url) #{item.name}
            td.table-item
              a #{item.description}
            td.table-item
              p #{item.price}
            td.stock-td.table-item
              p #{item.stock}

        else
          tr.item-row 
            td.table-item
              p This supplier has no items.

  div.med-butn-div.supplier-butn-div
    a.btn.btn-info(href=supplier.url+'/delete') Delete Supplier
    a.btn.btn-info(href=supplier.url+'/update') Update Supplier

